<span class="tooltip" nglTooltip [nglPopover]="element.tooltip" nglPopoverPlacement="bottom" [nglOpen]="element.tooltipOpen"
  (mouseenter)="element.tooltipOpen = true" (mouseleave)="element.tooltipOpen = false" (click)="element.tooltipOpen = true">
  <svg class="slds-button__icon tooltip__icon" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#question"></use>
  </svg>
</span>
