.tooltip {
  display: inline-block;
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: center;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
  }
}
