/**
 * Layout
 */
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  background-color: rgb(77, 77, 177);
  z-index: 30;
}

.header,
.main,
.footer {
  margin-left: 15rem;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
  background-color: rgb(255, 255, 255);
  font-size: 0.78rem;
}

/**
 * Navigation
 */
[dir] .nav {
  font-size: 0.87rem;
  &__list {
    margin-left: 0;
    list-style: none;
    &_sub {
      .nav__list-item_sub .nav__link {
        padding-top: 0.5rem;
        padding-bottom: 0.4375rem;
        padding-left: 2.4rem;
      }
      .nav__list_sub .nav__list-item_sub .nav__link {
        padding-left: 2.8rem;
      }
    }
  }
  &-item {
    display: list-item;
    text-align: match-parent;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.25;
    padding: 0.875rem 2rem 0.8125rem;
    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
    &_active {
      background-color: rgba(243, 242, 242, 0.1);
      &_route {
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(243, 242, 242, 0.2);
      }
      ~ .nav__list_sub {
        display: block;
      }
      .nav__sub-icon {
        transform: rotate(90deg);
      }
    }
    &-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__sub-icon {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    opacity: 0.5;
  }
  &__list_sub {
    display: none;
  }
}

/**
 * Form
 */
.slds-has-error .slds-dropdown > .slds-input,
.slds-has-error .slds-select_container > .slds-select {
  border-color: #dddbda;
  box-shadow: none;
  &:focus,
  &:active {
    border-color: #1589ee;
    background-color: white;
    box-shadow: 0 0 3px #0070d2;
  }
}

.slds-has-error .slds-pill__label {
  color: #0070d2;
  font-weight: 400;
}

.form-element_text,
.form-element_textarea,
.form-element_select,
.form-element_radiogroup-alt,
.form-element_checkboxgroup-alt {
  width: 100%;
}

.slds-panel .slds-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control-sm {
  width: 15rem;
}

.slds-panel .control-sm,
.slds-panel .slds-dropdown,
.slds-panel .slds-picklist__label,
.slds-panel .form-element_checkbox,
.slds-panel .form-element_toggle,
.slds-panel .form-element_radiogroup,
.slds-panel .form-element_checkboxgroup,
.slds-panel .form-element_number {
  width: 11.5rem;
}

.slds-panel .slds-datepicker {
  font-size: 0.65rem;
}

.slds-panel .slds-datepicker td {
  font-size: 0.65rem;
}

.slds-panel .slds-datepicker td > .slds-day {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  line-height: 1.2rem;
}

.position-extreme .slds-dropdown_left {
  left: auto;
  right: 0;
  transform: none;
  transition: none;
}

/**
 * Data-list
 */
.data-list .slds-table {
  border-top: none;
  border-collapse: inherit;
}

.data-list .slds-table td {
  max-width: 0;
}

.data-list .slds-table td div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-list input,
.data-list select option,
.data-list .ng2-smart-titles,
.data-lists {
  font-size: 0.875em;
}

.data-list .ng2-smart-title,
.data-list .ng2-smart-actions-title,
.data-list .ng2-smart-sort-link,
.data-list .ng2-smart-sort-link.sort {
  color: #706e6b !important;
  font-weight: normal !important;
}

/**
 * Text
 */
.data-list input::-webkit-input-placeholder {
  font-size: 0.875em;
}

.data-list input:-ms-input-placeholder {
  font-size: 0.875em;
}

.data-list input::-ms-input-placeholder {
  font-size: 0.875em;
}

.data-list input::placeholder {
  font-size: 0.875em;
}

.data-list input:not([type='checkbox']) {
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  display: inline-block;
  line-height: 1.875rem;
  min-height: calc(1.875rem + (1px * 2));
}

[dir] .data-list input:not([type='checkbox']) {
  background-color: white;
  border: 1px solid #dddbda;
  border-radius: 0.25rem;
  padding: 0.375em 0.75em;
}

.data-list input:not([type='checkbox']):focus,
.data-list input:not([type='checkbox']):active {
  outline: 0;
}

[dir] .data-list input:not([type='checkbox']):focus,
[dir] .data-list input:not([type='checkbox']):active {
  border-color: #1589ee;
  background-color: white;
  box-shadow: 0 0 3px #0070d2;
}

.data-list input:not([type='checkbox'])::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.data-list textarea {
  width: 100%;
  min-height: 100px;
  transition: border 0.1s linear, background-color 0.1s linear;
  resize: vertical;
}

[dir] .data-list textarea {
  background-color: white;
  border: 1px solid #dddbda;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.data-list textarea:focus,
.data-list textarea:active {
  outline: 0;
}

[dir] .slds-textarea:focus,
[dir] .slds-textarea:active {
  border-color: #1589ee;
  background-color: white;
  box-shadow: 0 0 3px #0070d2;
}

/**
 * Select
 */
.data-list select {
  width: 100%;
  transition: border 0.1s linear, background-color 0.1s linear;
  height: calc(1.875rem + (1px * 2));
}

[dir] .data-list select {
  background-color: white;
  border: 1px solid #dddbda;
  border-radius: 0.25rem;
}

.data-list select:focus,
.data-list select:active {
  outline: 0;
}

[dir] .data-list select:focus,
[dir] .data-list select:active {
  border-color: #1589ee;
  background-color: white;
  box-shadow: 0 0 3px #0070d2;
}

[dir='ltr'] .data-list select {
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}

[dir='rtl'] .data-list select {
  padding-right: 0.5rem;
  padding-left: 1.5rem;
}

.data-list select::-ms-expand {
  display: none;
}

/**
 * Completer
 */
.data-list .completer-row {
  color: #706e6b !important;
}

.data-list .completer-row div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-list .completer-selected-row {
  color: #000000 !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

/**
 * Checkbox
 */
.data-list input[type='checkbox'] {
  position: relative;
  width: auto !important;
  margin-right: 0.5rem;
  vertical-align: middle;
  padding: 0 !important;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

[dir='rtl'] .data-list input[type='checkbox'] {
  margin-right: 0;
  margin-left: 0.5rem;
}

.data-list input[type='checkbox']:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  position: relative;
  width: 3rem;
  height: 26px;
  border: 1px solid #b0adab;
  background-color: #b0adab;
  border-radius: 15rem;
}

.data-list input[type='checkbox']:checked:before {
  border-color: #0070d2;
  background-color: #0070d2;
}

.data-list input[type='checkbox']:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 15rem;
}

.data-list input[type='checkbox']:checked:after {
  left: auto;
  left: 1.65rem;
}

/**
 * Icons
 */
.data-list__icon {
  color: #8a8a8a;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.data-list__icon:hover {
  color: #706e6b;
}

.data-list tr th:last-child,
.data-list tr td:last-child {
  text-align: right;
}

[dir='rtl'] .data-list tr th:last-child,
[dir='rtl'] .data-list tr td:last-child {
  text-align: left;
}

.data-list .ng2-smart-page-link {
  position: relative;
  display: inline-block !important;
  padding: 0;
  background: 0 0;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: #0070d2 !important;
  -webkit-appearance: none;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 50ms linear, background-color 50ms linear;
}

/**
 * Pagination
 */
.data-list .ng2-smart-pagination-nav {
  margin-top: 0.5rem;
  margin-left: 0.4rem;
}

.data-list .page-item {
  padding: 0 0.1rem;
}

.data-list .page-link {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d8dde6;
  background-color: #fff;
}

.data-list .page-link:hover {
  text-decoration: none;
}

.data-list .page-link:hover,
.data-list .page-link:hover:focus {
  background-color: #f4f6f9;
}

.data-list .page-link:active,
.data-list .page-link:active {
  background-color: #eef1f6;
}

.data-list .page-link[disabled],
.data-list .page-link[disabled] {
  background-color: white;
  cursor: default;
}

.data-list .page-item.active .page-link {
  background-color: #0070d2;
  border: 1px solid #0070d2;
  color: #ffffff !important;
}
