<ngb-data-list [url]="'api/data-list-data'" [config]="settings" (add)="onCreateNew()"></ngb-data-list>
<!-- Form -->
<ngb-form [name]="'Data form'" [elements]="formElements" [url]="'api/data-list'" [isPanel]="form.panel" [(show)]="form.show" [layout]="form.layout"
  [edit]="form.edit">
  <!-- Only for panel-view form -->
  <span form-title>Edit form</span>
  <span form-sub-title>Jun 18</span>
  <!-- Only for default-view form -->
  <div form-buttons class="slds-grid slds-grid_align-left slds-m-top_small" [class.slds-grid_align-end]="form.layout==='horizontal'">
    <button type="submit" class="slds-button slds-button_brand">Submit</button>
  </div>
</ngb-form>
