<ul class="slds-listbox slds-listbox_vertical">
  <li class="slds-listbox__item" *ngFor="let option of options">
    <div id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center"
      (click)="setSelected(option)" [class.slds-is-selected]="selected && selected.key === option.key" role="option">
      <span class="slds-media__figure">
        <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" xmlns:xlink="http://www.w3.org/1999/xlink" />
        </svg>
      </span>
      <span class="slds-media__body">
        <span class="slds-truncate" [title]="option">{{option.value}}</span>
      </span>
    </div>
  </li>
</ul>
