<a *ngIf="!item.link && item.sub" class="nav__link" (click)="$event.preventDefault(); onItemClick(item);"
   [ngClass]="{'nav__link_active':item.is_active}">
  <span class="nav__link-title">{{item.name}}</span>
  <span *ngIf="item.sub">
    <svg class="nav__sub-icon slds-icon slds-icon--small" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink"
           xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
    </svg>
  </span>
</a>
<a *ngIf="item.link && item.sub" class="nav__link" [routerLink]="item.link"
   [routerLinkActive]="['nav__link_active', 'nav__link_active_route']">
  <span class="nav__link-title">{{item.name}}</span>
  <span *ngIf="item.sub">
    <svg class="nav__sub-icon slds-icon slds-icon--small" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink"
           xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
    </svg>
  </span>
</a>
<a *ngIf="!item.sub && item.link" class="nav__link" [routerLink]="item.link"
   [routerLinkActive]="['nav__link_active', 'nav__link_active_route']">
  <span class="nav__link-title">{{item.name}}</span>
</a>
<a *ngIf="!item.sub && !item.link" class="nav__link" (click)="$event.preventDefault(); onItemClick(item);">
  <span class="nav__link-title">{{item.name}}</span>
</a>
<ul class="nav__list nav__list_sub" *ngIf="item.sub">
  <li ngb-menu class="nav__list-item nav__list-item_sub" *ngFor="let item of item.sub" [item]="item"></li>
</ul>
