.nav {
  font-size: 0.87rem;

  &__list {
    margin-left: 0;
    list-style: none;

    &_sub {
      .nav__list-item_sub .nav__link {
        padding-top: 0.5rem;
        padding-bottom: 0.4375rem;
        padding-left: 2.4rem;
      }

      .nav__list_sub .nav__list-item_sub .nav__link {
        padding-left: 2.8rem;
      }
    }
  }

  &-item {
    display: list-item;
    text-align: match-parent;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.25;
    padding: 0.875rem 2rem 0.8125rem;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }

    &_active {
      background-color: rgba(243, 242, 242, 0.1);

      &_route {
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(243, 242, 242, 0.2);
      }

      ~ .nav__list_sub {
        display: block;
      }

      .nav__sub-icon {
        transform: rotate(90deg);
      }
    }

    &-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__sub-icon {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    opacity: 0.5;
  }

  &__list_sub {
    display: none;
  }
}
