<div class="form-group form" [formGroup]="form" [ngSwitch]="element.controlType">
  <!-- Text -->
  <ngl-form-element *ngSwitchCase="'text'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <input nglFormControl type="text" [formControlName]="element.key" [placeholder]="element.placeholder" [required]="element.required">
  </ngl-form-element>
  <!-- Textarea -->
  <ngl-form-element *ngSwitchCase="'textarea'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <textarea nglFormControl [formControlName]="element.key" [placeholder]="element.placeholder" [required]="element.required"></textarea>
  </ngl-form-element>
  <!-- Number -->
  <ngl-form-element *ngSwitchCase="'number'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right number control-sm">
      <input nglFormControl type="number" [formControlName]="element.key" [placeholder]="element.placeholder" [required]="element.required"
        class="number__input" [min]="element.min" [max]="element.max" [step]="element.step">
      <button type="button" class="slds-button slds-button_icon slds-input__icon slds-input__icon_left" (click)="element.decrement(form, element.key)">
        <svg class="slds-button__icon" aria-hidden="true">
          <use *ngIf="!element.isOpen" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#dash"></use>
        </svg>
      </button>
      <button type="button" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" (click)="element.increment(form, element.key)">
        <svg class="slds-button__icon" aria-hidden="true">
          <use *ngIf="!element.isOpen" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
        </svg>
      </button>
    </div>
  </ngl-form-element>
  <!-- Select -->
  <ngl-form-element *ngSwitchCase="'select'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <select nglFormControl [formControlName]="element.key" class="slds-select slds-input" [required]="element.required">
      <option *ngFor="let option of element.options" [value]="option.key">{{option.value}}</option>
    </select>
  </ngl-form-element>
  <!-- Select 2 -->
  <ngl-form-element *ngSwitchCase="'select2'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <ngl-picklist [data]="element.options" [(nglPick)]="element.selected" [(open)]="element.open" [nglPickMultiple]="element.multiple"
      filter="value">
      <select hidden nglFormControl [formControlName]="element.key" [multiple]="element.multiple" [required]="element.required">
        <option *ngFor="let option of element.options" [value]="option.key">{{option.value}}</option>
      </select>
      <span *ngIf="element.selected">
        <span class="slds-truncate">{{ element.selected.value }}{{ element.onChangePick(this.form) }}</span>
      </span>
      <span *ngIf="element.selected.length">
        <span class="slds-truncate">{{ element.note + element.selected.length }}</span>
      </span>
      <span *ngIf="element.selected.length === 0">
        <span class="slds-truncate">{{element.placeholder || 'Select options'}}</span>
      </span>
      <ng-template nglPicklistItem let-option>{{option.value}}</ng-template>
    </ngl-picklist>
    <div *ngIf="element.selected.length" class="slds-m-top_x-small slds-p-bottom_x-small slds-border_bottom">
      <ngl-pill (nglPillRemove)="element.removePill(el)" *ngFor="let el of element.selected" class="slds-m-top_xxx-small slds-m-right_xxx-small slds-p-left_xx-small">
        <a href="javascript:void(0)">{{el.value}}</a>
      </ngl-pill>
    </div>
  </ngl-form-element>
  <!-- Checkbox -->
  <ngl-form-checkbox *ngSwitchCase="'checkbox'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <input nglFormControl type="checkbox" [formControlName]="element.key" [required]="element.required">
  </ngl-form-checkbox>
  <!-- Checkbox toggle -->
  <div *ngSwitchCase="'toggle'" class="slds-form-element__control ">
    <ngl-form-checkbox-toggle [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small toggle">
      <ng-template nglFormLabel>
        <span>{{element.label}}</span>
        <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
      </ng-template>
      <input nglFormControl type="checkbox" [formControlName]="element.key" [required]="element.required">
    </ngl-form-checkbox-toggle>
  </div>
  <!-- Radio-group -->
  <fieldset *ngSwitchCase="'radiogroup'" ngl-form-group [error]="error && error[element.key] ? error[element.key] : null" [required]="element.required"
    class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <ngl-form-group-element *ngFor="let radio of element.options" [label]="radio.value" class="slds-m-bottom_xxx-small">
      <input nglFormControl type="radio" [formControlName]="element.key" [value]="radio.key">
    </ngl-form-group-element>
  </fieldset>
  <!-- Radio-group alt -->
  <fieldset *ngSwitchCase="'radiogroup-alt'" ngl-form-group-alt [error]="error && error[element.key] ? error[element.key] : null"
    [required]="element.required" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <ngl-form-group-element *ngFor="let radio of element.options">
      <ng-template nglFormLabel>{{radio.value}}</ng-template>
      <input nglFormControl type="radio" [formControlName]="element.key" [value]="radio.key">
    </ngl-form-group-element>
  </fieldset>
  <!-- Checkbox-group -->
  <fieldset *ngSwitchCase="'checkboxgroup'" ngl-form-group [error]="error && error[element.key] ? error[element.key] : null"
    [required]="element.required" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <ngl-form-group-element *ngFor="let checkbox of element.options" [label]="checkbox.value" class="slds-m-bottom_xxx-small">
      <input nglFormControl type="checkbox" [checked]="element.check(checkbox.key)" (change)="element.onChange(form, element.key, checkbox.key)">
    </ngl-form-group-element>
  </fieldset>
  <!-- Checkbox-group alt -->
  <fieldset *ngSwitchCase="'checkboxgroup-alt'" ngl-form-group-alt [error]="error && error[element.key] ? error[element.key] : null"
    [required]="element.required" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <ngl-form-group-element *ngFor="let checkbox of element.options" [label]="checkbox.value">
      <input nglFormControl type="checkbox" [checked]="element.check(checkbox.key)" (change)="element.onChange(form, element.key, checkbox.key)">
    </ngl-form-group-element>
  </fieldset>
  <!-- Datepicker -->
  <ngl-form-element *ngSwitchCase="'datepicker'" [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
    <ng-template nglFormLabel>
      <span>{{element.label}}</span>
      <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
    </ng-template>
    <div class="slds-form-element__group">
      <div class="slds-form-element__row">
        <div ngbPosition ngbCloseout [(open)]="element.isOpen" [class.slds-is-open]="element.isOpen" class="slds-form-element slds-dropdown-trigger slds-dropdown-trigger_click">
          <div class="slds-input-has-icon slds-input-has-icon_right control-sm">
            <input nglFormControl type="text" [formControlName]="element.key" [placeholder]="element.placeholder" [required]="element.required"
              class="slds-input" (focus)="element.isOpen = true;" [value]="element.display">
            <button type="button" (click)="element.isOpen = !element.isOpen" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right">
              <svg class="slds-button__icon" aria-hidden="true">
                <use *ngIf="!element.isOpen" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                <use *ngIf="element.isOpen" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>
            </button>
          </div>
          <ngl-datepicker [(date)]="element.date" (dateChange)="element.onChangeDate($event, this.form)" [monthNames]='element.monthNames'
            [dayNamesShort]='element.dayNamesShort' [dayNamesLong]='element.dayNamesLong' [firstDayOfWeek]='element.firstDayOfWeek'
            class="slds-datepicker slds-dropdown slds-dropdown_left slds-box slds-box_x-small datepicker__item"></ngl-datepicker>
        </div>
      </div>
    </div>
  </ngl-form-element>
  <!-- Timepicker -->
  <div *ngSwitchCase="'timepicker'">
    <ngl-form-element [error]="error && error[element.key] ? error[element.key] : null" class="slds-m-top_small">
      <ng-template nglFormLabel>
        <span>{{element.label}}</span>
        <ngb-tooltip *ngIf="element.tooltip" [element]="element"></ngb-tooltip>
      </ng-template>
      <div class="slds-form-element__group">
        <div class="slds-form-element__row">
          <div ngbCloseout [(open)]="element.isOpen" [class.slds-is-open]="element.isOpen" class="slds-form-element slds-dropdown-trigger slds-dropdown-trigger_click">
            <div class="slds-input-has-icon slds-input-has-icon_right control-sm">
              <input nglFormControl type="text" [placeholder]="element.placeholder" [required]="element.required" class="slds-input"
                (focus)="element.isOpen = true;" [value]="element.display">
              <button type="button" (click)="element.isOpen = !element.isOpen" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use *ngIf="!element.isOpen" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                  <use *ngIf="element.isOpen" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
              </button>
            </div>
            <ngb-timepicker [options]="element.options" [selected]="element.value" (timeChange)="element.onChange($event, this.form)"
              class="slds-datepicker slds-dropdown slds-dropdown_left slds-box slds-box_x-small datepicker__item slds-dropdown--length-5"></ngb-timepicker>
          </div>
        </div>
      </div>
    </ngl-form-element>
  </div>
</div>
