<form *ngIf="isPanel && form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="slds-grid" [class.panel]="isPanel" [class.panel_show]="show">
    <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap slds-is-editing">
      <div class="slds-panel__section slds-border_bottom">
        <div class="slds-media__body">
          <h2 class="slds-truncate slds-text-heading_small">
            <ng-content select="[form-title]"></ng-content>
          </h2>
          <p class="slds-truncate slds-text-body_small">
            <ng-content select="[form-sub-title]"></ng-content>
          </p>
          <div class="slds-grid slds-grid_align-spread slds-m-top_small">
            <div class="slds-button-group">
              <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" type="button">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#attach"></use>
                </svg>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" type="button">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                </svg>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" type="button">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                </svg>
              </button>
            </div>
            <button class="slds-button slds-button_destructive" type="button" (click)="onDelete()">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y">
        <div class="slds-panel__section">
          <div class="slds-form" [ngClass]="layoutClass">
            <div class="form-element form-element_{{element.controlType}}" *ngFor="let element of formElements; let i = index">
              <ngb-form-element [element]="element" [form]="form" [error]="error"></ngb-form-element>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-panel__actions slds-border_top">
        <div class="slds-grid slds-grid_align-center">
          <button type="button" class="slds-button slds-button_neutral" (click)="hide()">{{translate.cancel}}</button>
          <button type="submit" class="slds-button slds-button_brand">{{translate.submit}}</button>
        </div>
      </div>
    </div>
  </div>
</form>
<form *ngIf="!isPanel && form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="slds-form" [ngClass]="layoutClass">
    <div class="form-element form-element_{{element.controlType}}" *ngFor="let element of formElements; let i = index">
      <ngb-form-element [element]="element" [form]="form" [error]="error"></ngb-form-element>
    </div>
  </div>
  <ng-content select=[form-buttons]></ng-content>
</form>
