.toggle {
  display: inline-block;
}

.datepicker__item {
  width: 14rem;
}

.number {
  display: inline-block;
  &__input {
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.input {
  width: 100%;
}

.panel {
  position: fixed;
  height: 100%;
  top: 0;
  right: -480px;
  width: 480px;
  transition: 0.3s ease-out;
  &_show {
    right: 0;
  }
}
