<div class="data-list" *ngIf="settings && !settings.error">
  <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
  (edit)="onEdit()" (create)="onCreate()" (delete)="onDelete()"></ng2-smart-table>
</div>
