<div class="wrapper" *ngIf="loaded && !error">
  <div class="sidebar">
    <ngb-navigation></ngb-navigation>
  </div>
  <header class="header"></header>
  <main class="main">
    <ng-content></ng-content>
  </main>
  <footer class="footer"></footer>
</div>

<ngb-notifications></ngb-notifications>

<div class="slds-align_absolute-center" *ngIf="!loaded && !error">
  <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
    <span class="slds-assistive-text">Loading</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>

<div class="slds-icon_container slds-icon-utility-announcement slds-align_absolute-center" *ngIf="!loaded && error">
  <svg class="slds-icon slds-icon-text-default slds-icon_large slds-spinner" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
  </svg>
</div>
