<div class="slds-notify_container slds-grid slds-grid_vertical" *ngIf="warnings.length || errors.length || notes.length"
  @showHide>
  <div class="slds-col" *ngIf="warnings.length" @showHide>
    <ngl-notification type="toast" severity='warning' class="slds-theme_alert slds-theme_alert-texture" timeout="3000" (nglNotificationClose)="clearWarning($event)">
      <div class="slds-grid">
        <ngl-icon type="warning" icon="warning" size="small" class="slds-col slds-m-right--small slds-no-flex"></ngl-icon>
        <div class="slds-col slds-align-middle">
          <div *ngFor="let warning of warnings">
            {{ warning }}
          </div>
        </div>
      </div>
    </ngl-notification>
  </div>
  <div class="slds-col" *ngIf=errors.length @showHide>
    <ngl-notification type="toast" severity='error' class="slds-theme_alert slds-theme_alert-texture" timeout="3000" (nglNotificationClose)="clearError($event)">
      <div class="slds-grid">
        <ngl-icon icon="ban" size="small" class="slds-col slds-m-right--small slds-no-flex"></ngl-icon>
        <div class="slds-col slds-align-middle">
          <div *ngFor="let error of errors">
            {{ error }}
          </div>
        </div>
      </div>
    </ngl-notification>
  </div>
  <div class="slds-col" *ngIf="notes.length" @showHide>
    <ngl-notification type="toast" timeout="3000" (nglNotificationClose)="clearNote($event)">
      <div class="slds-grid">
        <ngl-icon type="ban" icon="info" size="small" class="slds-col slds-m-right--small slds-no-flex"></ngl-icon>
        <div class="slds-col slds-align-middle">
          <div *ngFor="let note of notes">
            {{ note }}
          </div>
        </div>
      </div>
    </ngl-notification>
  </div>
</div>
