<div class="content">
  <div form-buttons class="slds-grid slds-grid_align-lef slds-m-top_small">
    <button type="button" class="slds-button slds-button_neutral" (click)="form.switchLayout()">Switch form layout</button>
    <button type="button" class="slds-button slds-button_neutral" (click)="form.switchView()">Switch form view</button>
    <button type="button" class="slds-button slds-button_neutral" (click)="form.up();" [class.slds-button_success]="form.panel"
      [disabled]="!form.panel">Show form
    </button>
    <button type="button" class="slds-button slds-button_neutral" (click)="form.get()">Fill form</button>
    <input type="text" class="slds-input" style="width: 50px; margin: 0 20px 0 10px;" [(ngModel)]="form.edit">
    <button type="button" class="slds-button slds-button_neutral" (click)="form.clear()">Clear form</button>
  </div>

  <!-- Form -->
  <ngb-form [name]="'Example form'" [elements]="elements" [url]="'api/form'" [isPanel]="form.panel" [(show)]="form.show" [layout]="form.layout"
    [edit]="form.edit" (created)="onCreate()" (updated)="onUpdate()" (deleted)="onDelete()">
    <!-- Only for panel-view form -->
    <span form-title>Edit form</span>
    <span form-sub-title>Jun 18</span>
    <!-- Only for default-view form -->
    <div form-buttons class="slds-grid slds-grid_align-left slds-m-top_small" [class.slds-grid_align-end]="form.layout==='horizontal'">
      <button type="submit" class="slds-button slds-button_brand">Submit</button>
    </div>
  </ngb-form>
</div>
